@import url('reset.css');

/***********************************************/
/*GENERAL*/

* {
  box-sizing: border-box;
}

body {
  color: #333;
  font: 14px 'Helvetica Neue', sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  border: 1px solid #573D7C;
  background-color: transparent;
  border-radius: 6px;
  color: #573D7C;
  display: inline-block;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  grid-area: add;
  padding: 11px 0 10px;
  text-align: center;
  width: 136.5px;
}
button:focus,
button:hover {
  background: #573D7C;
  color: #fff;
}

input {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px #eee;
  box-sizing: border-box;
  font: inherit;
  height: 34px;
  padding: 0 12px;
}

small {
  display: none;
  font-size: 11.9px;
  margin-bottom: 8px;
  text-align: left;
}

/***********************************************/
/*HEADER*/

header {
  background: linear-gradient(#573D7C, #6F5499);
  color: #fff;
  padding: 30px 0;
}
header h1 {
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 39.6px;
  margin: 0 0 10px;
}
header h2 {
  color: #C9BBDF;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 28px;
  margin: 0 35px;
}
header a {
  color: #fff;
}

/***********************************************/
/*MAIN*/

main h1 {
  border-bottom: 1px solid #eee;
  font-size: 30px;
  font-weight: 500;
  padding: 0 0 7px;
}
main h2 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 19px 0 8px;
}
main ul {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 19px;
  margin: 0 0 15px;
  text-align: left;
}
main li {
  border-bottom: 1px solid #eee;
}
main h3 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 26px;
  margin: 21px 0 12px;
}
main dl {
  padding: 13px 0;
}
main dt {
  font-weight: 600;
}
main dd {
  padding: 2px 0 3px;
}

/***********************************************/
/*FOOTER*/

footer {
  border-top: 1px solid #eee;
  display: inline-block;
  margin: 55px 0 11px;
  padding: 21px 0;
}
footer a {
  color: #428CCA;
}
footer a:hover {
  color: #2A6496;
  text-decoration: underline;
}

/***********************************************/
/*OTHER*/

form {
  padding: 1px;
}
form * {
  display: block;
  width: 100%;
}

/***********************************************/
/*CLASSES*/

.responsive {
  display: inline-block;
  width: 94%;
}

.grayBackground {
  background: #F5F5F5;
  border: 1px solid #E3E3E3;
  border-radius: 4px;
  padding: 19px 19px;
}

.small {
  border-radius: 4px;
  font-size: .9rem;
  margin: 6px 16px 20px 0;
  padding: 7px;
  width: auto;
}

.hidden {
  display: none;
}

label.error {
  color: #B94A48;
}

small.error {
  display: block;
  color: #B94A48;
}

input.error {
  border: 1px solid #B94A48;
}

/***********************************************/
/*IDs*/

#featureBar {
  display: grid;
  grid-template-areas:
    "add"
    "search";
  justify-items: center;
  margin: 0 0 19px;
}
#featureBar input {
  grid-area: search;
  width: 50%;
}
#featureBar input::placeholder {
  color: #999;
}

#contactsList li {
  display: inline-block;
}

#createContact {
  margin: 38px 0 0;
}
#createContact label {
  text-align: left;
  font-weight: 600;
  padding: 27px 0 2px;
}
#createContact input {
  margin-bottom: 6px;
  color: #555;
}

/***********************************************/
/*TABLETS*/

@media screen and (min-width: 765px) {
  main ul {
    grid-template-columns: repeat(3, 220px);
  }

  #createContact {
    /*padding-left: 20px;*/
  }

  #createContact label {
    display: inline-block;
    text-align: right;
    width: 30%;
  }
  #createContact input {
    display: inline-block;
    margin-left: 30px;
    margin-right: 120px;
    width: 345px;
  }
  #createContact small {
    text-align: center;
  }

  .responsive {
    width: 720px;
  }

  .submit,
  .cancel {
    display: inline-block;
    margin: 0 auto;
    width: 155px;
  }

  #featureBar {
    display: inline-grid;
    grid-template-areas: "add search";
    grid-template-columns: 1fr 1fr;
    width: 750px;
  }
  #featureBar input {
    align-self: start;
    width: 160px;
  }
}

/***********************************************/
/*LAPTOPS*/

@media screen and (min-width: 990px) {
  main ul {
    grid-template-columns: repeat(4, 212.5px);
  }

  #createContact input {
    width: 455px;
  }

  .submit,
  .cancel {
    width: 212px;
  }

  .responsive {
    width: 940px;
  }

  #featureBar {
    width: 970px;
  }
  #featureBar input {
    width: 215px;
  }
}

/***********************************************/
/*DESKTOPS*/

@media screen and (min-width: 1200px) {
  main {
    margin: 0 auto;
    max-width: 1400px;
  }
  main ul {
    grid-template-columns: repeat(4, 262.5px);
  }

  #createContact input {
    width: 555px;
  }

  .submit,
  .cancel {
    width: 260px;
  }

  .responsive {
    width: 1140px;
  }

  #featureBar {
    width: 1170px;
  }
  #featureBar input {
    width: 266px;
  }
}